<h1>Showing user details</h1>
<%= will_paginate @articles, :container => false %>
<p><strong>Username: </strong>
  <%= @user.username%></p>
<p><strong>Email: </strong><%= @user.email%></p>
<%= link_to "Edit your profile", edit_user_path(@user) %>
<%= render 'articles/article' %>
<%= will_paginate @articles, :container => false %>

